test1munit/src/main/mule/test1munit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7f71dc1e-80f9-40e9-a128-7edd26b27d76" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test1munitFlow" doc:id="0c65f34f-bdf0-4277-b529-00264bd7f4f9" >
		<http:listener doc:name="Listener" doc:id="0db70845-ce78-4440-8a7a-5d09627d098c" config-ref="HTTP_Listener_config" path="/"/>
		<set-variable value="data" doc:name="Set Variable" doc:id="c990efd4-7697-4f1b-a1fc-ed8298643cc1" variableName="code"/>
		<set-payload value="#[vars.code]" doc:name="Set Payload" doc:id="ac1d9891-e088-473b-a50d-8683af2338f6" />
		<logger level="INFO" doc:name="Logger" doc:id="997d0b73-787b-487b-964e-85a17651467d" message="#[payload]"/>
	</flow>
</mule>
